<h3 class="dashboard-title">Live Approved Photo Feed</h3>
<div class="photo-feed">
  <ng-container *ngIf="photoFeed.approvedPhotos$ | async as photos">
    <div *ngFor="let photo of photos" class="photo-card">
      <img [src]="photo.url" [alt]="photo.username" class="photo-img" />
      <div class="photo-info">
        <div class="username">
          <i class="fa fa-user"></i> {{ photo.username || 'Unknown' }}
        </div>
        <div *ngIf="photo.tags?.length" class="tags">
          <span *ngFor="let tag of photo.tags" class="badge bg-info">{{ tag.name }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="!photos.length" class="text-muted">No approved photos yet.</div>
  </ng-container>
</div>